@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1d232a;
    height: 100vh;
}

#numberSelection1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#numberSelection2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* style for checkboxes */
input[type="checkbox"] {
    display: none; /* hide the default checkbox */
}

/* style for the custom checkbox design */
input[type="checkbox"] + label {
    
    padding: 5px 10px;
    margin: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

/* style for checked custom checkbox */
input[type="checkbox"]:checked + label {
    background-color: #007bff; /* example color for checked checkbox */
    color: #fff;
    border-color: #007bff;
}

/* style for label text */
label {
    font-size: 16px;
    font-weight: bold;
}

