#zeropad, #outside1, #outside2, #outside, #numred, #num{
    border-radius: 0px;
    border: none;
    margin: 0px;
    height: 80px;
    width: 80px;
}

#zeropad {
    visibility: hidden;
}

#bnr{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    border: None;
    font-size: 1.5rem;
    font-weight: bold;
}

#outside1 {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0px 10px 0px 0px;
    font-size: 1rem;
}

#outside2 {
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 1rem;
}

#outside {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0px 0px 10px 0px;
    font-size: 1rem;
}

#numred{
    background-color: #ad2a35;
}

#zero {
    border-radius: 0px;
    border: none;
    position: absolute;
    height: 240px;
    width: 80px;
    background-color: #01431e;
    font-size: 1.5rem;
}

#box{
    border-radius: 5px;
    border: none;
    color: white;
    height: 80px;
    width: 80px;
    background-color: rgba(255, 255, 255, 0.3);
}

#last{
    height: 50vh;
    width: 10vw;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: solid 1px white;
}

#spinbut{
    border-radius: 5px;
}

.spinner{
    height: 50vh;
    width: 50vw;
}
#one, #two, #three, #four, #five, #six, #seven, #eight,
#nine, #ten, #eleven, #twelve, #thirteen, #fourteen, #fifteen,
#sixteen, #seventeen, #eighteen, #nineteen, #twenty, #twentyone,
#twentytwo, #twentythree, #twentyfour, #twentyfive, #twentysix,
#twentyseven, #twentyeight, #twentynine, #thirty, #thirtyone,
#thirtytwo, #thirtythree, #thirtyfour, #thirtyfive, #thirtysix {
    font-weight: bold;
    font-size: 0.8rem;
    position: absolute;
    text-align: center;
    width: 40px;
    border-radius: 9999px;
    margin-top: 1px;
    margin-left: 1px;
    border: 1px solid white;

}
#num{
    background-color: rgba(0, 0, 0, 0.7);
}

.bbut{
   font-size: 2rem; 
   font-weight: bold;

}
