<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script> 
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.7/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="public/main.css">
    <link rel="stylesheet" href="public/output.css">
    <title>ASKAMA</title>
</head>
<body>
    <script>
            
        function nwc(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function fetchBal(){
            fetch('/api/getbal')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('bal').innerText = "Balance: $"+data.bal.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2});
                });
        }
        window.onload = fetchBal();
        document.addEventListener('htmx:afterSwap', fetchBal);

    </script>
    <div class="p-2" id="balance">
        <a href="/"><button style="float: left; color: #1d232a; background-color: #ffffff" class="btn ?"><p style="display: inline;">TomBet</p></button></a>
        <button style="width: 10%; float: right; color: #1d232a; background-color: #ffffff" class="btn ?"><p style="display: inline;" id="bal"></p></button>
    </div>
    {% block content %}
    {% endblock content %}
</body>
</html>
