<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@latest"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script> 
    <link rel="stylesheet" href="public/output.css">
    <title>ASKAMA</title>
</head>
<body>
    <div class="flex flex-col text-center justify-items-center w-full h-full align-center justify-centre">
        <div class="m-auto text-2xl">
            <h1>
                Welcome to TomBet!
            </h1><br>
            <p>This is a portfolio showcase project written primarily in Rust,
            with a focus on the backend, not the frontend!</p>
        </div><br>
        <div class="flex flex-col text-center justify-items-centre w-full h-full align-centre justify-centre">
            <div class="flex m-auto flex-row text-center justify-items-center align-center p-3">
                <button class="bg-red-400 mx-2 p-3 rounded-full">Lotto</button>
                <button class="bg-yellow-400 mx-2 p-3 rounded-full">Reality Shows</button>
                <button class="bg-green-400 mx-2 p-3 rounded-full">Sports</button>
                <button class="bg-blue-400 mx-2 p-3 rounded-full">Racing</button> 
            </div>    
        </div>
        <div class="flex flex-row text-center justify-items-centre align-centre justify-centre">
            <div class="flex align-middle m-auto flex-row text-center justify-items-center p-3">                
                <a href="/login"><button 
                    class="inline-flex align-middle text-center bg-black text-white mx-2 p-3 rounded-full">
                    <p class="">Login</p>
                </button></a>
                <a href="/signup"><button
                    class="inline-flex align-middle text-center bg-black text-white mx-2 p-3 rounded-full">
                        <p class="">Sign Up</p>
                </button></a>
            </div>
        </div>

    
</body>
</html>
