{% extends "header.html" %}
{% block content %}
    <div class="h-full flex justify-center items-center">
        <div class="flex flex-col text-center justify-items-center w-full align-centre justify-centre">
            <div class="m-auto text-2xl">
                <h1>
                    Lotto! 
                </h1><br>
                <p>Welcome to the Show!<br>Your Numbers: </p>
                <div class="m-auto flex p-5 justify-centre align-middle flex-row">
                    <div class="flex m-auto text-m justify-centre align-middle flex-row p-5" id="ticketNumbers_"></div>
                </div>
            </div>

            <div class="m-auto font-bold text-xl text-center" style="visibility: hidden;" id="msg">0.00</div>
            <div class="m-auto p-2 flex flex-col text-center bg-gray"
                x-data="{numbers: []}"
                x-init="numbers = await (await fetch('/api/getnums')).json()">
                <div class="m-auto p-2 flex flex-col text-center bg-gray">
                    <button class="btn btn-primary mb-2" hx-get="/api/draw" hx-target="#balls">Draw!</button>
                </div>
                <div class="m-auto flex flex-row" id="balls"></div>
            </div>

            <hr><br>
            <p>Didn't win? Cry about it and click <strong>Draw!</strong> again, for 7 new numbers and $2.50 invoice!</p>

            <div id="numberSelection1" class="m-auto p-2 text-centre w-1/4 flex flex-row">
            </div>
            <div id="numberSelection2" class="m-auto p-2 w-1/4 text-centre flex flex-row"></div>
            <button class="btn btn-primary m-auto w-1/4 flex flex-col" onclick="submitTicket();location.reload();">Submit Ticket!</button>
        </div>
    </div>

    <script src="../public/lotto.js"></script>
{% endblock content %}
    


