{% extends "header.html" %}
{% block content %}
    <div class="flex flex-col text-center justify-items-center w-full h-1/2 align-centre justify-centre">
        <div class="m-auto text-2xl">
            <h1>
               Lotto! 
            </h1><br>
            <p>Welcome to the Show!</p>
        </div><br>
        <div class="m-auto flex flex-col text-center bg-gray">
            <button class="btn btn-primary" hx-get="/api/draw" hx-target="#balls">Draw!</button>
        </div>
        <div class="m-auto flex flex-row" id="balls"></div>


        <hr>
        <p>Didn't win? Cry about it and click <strong>Draw!</strong> again, for 7 new numbers and $2.50 invoice!</p>
    </div>
{% endblock content %}
    


