{% extends "header.html" %}

{% block content %}
<script src="../public/dist/spinner.js"></script>

<link rel="stylesheet" href="public/roulette.css">
<div style="height: 100%;" class="h-screen flex flex-col justify-center items-center">
    <div class="flex justify-between items-center flex-row">
        <div class="flex flex-col justify-center m-auto text-xl text-center items-center w-1/2 h-1/2">
            <div class="flex justify-center m-auto text-xl text-center items-center w-1/2 h-1/2">
                <h1>Roulette</h1><br>
            </div>
            <div class="m-auto p-2 flex flex-col text-center bg-gray">
                <button class="btn btn-primary mb-2" id="spinbut">Spin!</button>
                <div class="flex flex-row justify-center items-center" id="box">
                    <div id="res" class="flex flex-row font-bold align-middle justify-center justify-center">
                        <div>
                            <h1 id="numbox"></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="wheel" class="flex justify-center spinner" style="">
            <img src="../public/static/wheel.png" />
        </div>

        <div id="last" class="flex flex-col justify-center m-auto text-xl text-center items-center">
            <h1 class="text-white text-xl font-bold">Last 10</h1>
        </div>
    </div><br>
    <div class="flex flex-col"> 
        <div class="flex flex-inline">
            <div class="flex flex-col text-xl" id="result">
                <div class="flex flex-row">
                    <div class="flex flex-row absolute h-full">
                        <button id="zero" class="btn absolute">0</button>
                    </div>
                    <!-- Investigate changing these into rows of divs -->
                    <button id="zeropad" class="btn bbut">0</button>
                    <div class="flex-col" id="numred">
                        <p id="three" style="visibility: hidden;" class="align-left">0</p>
                        <button id="bnr" class="btn bbut">3</button>
                    </div>
                    <div id="num">
                        <p id="six" style="visibility: hidden;" class="">0</p>
                        <button id="bnr" class="btn bbut">6</button>
                    </div>
                    <div id="numred">
                        <p id="nine" style="visibility: hidden;" class="align-left">0</p>
                        <button id="bnr" class="btn bbut">9</button>
                    </div>
                    <div id="numred">
                        <p id="twelve" style="visibility: hidden;" class="align-left">0</p>
                        <button id="bnr" class="btn bbut">12</button>
                    </div>
                    <div id="num">
                        <p id="fifteen" style="visibility: hidden;" class="align-left">0</p>
                        <button id="bnr" class="btn bbut">15</button>
                    </div>
                    <div id="numred">
                        <p id="eighteen" style="visibility: hidden;" class="align-left">0</p>
                        <button id="bnr" class="btn bbut">18</button>
                    </div>
                    <div id="numred">
                        <p id="twentyone" style="visibility: hidden;" class="align-left">0</p>
                        <button id="bnr" class="btn bbut">21</button>
                    </div>
                    <div id="num">
                        <p id="twentyfour" style="visibility: hidden;" class="align-left">0</p>
                        <button id="bnr" class="btn bbut">24</button>
                    </div>
                    <div id="numred">
                        <p id="twentyseven" style="visibility: hidden;" class="align-left">0</p>
                        <button id="bnr" class="btn bbut">27</button>
                    </div>
                    <div id="numred">
                        <p id="thirty" style="visibility: hidden;" class="align-left">0</p>
                        <button id="bnr" class="btn bbut">30</button>
                    </div>
                    <div id="num">
                        <p id="thirtythree" style="visibility: hidden;" class="align-left">0</p>
                        <button id="bnr" class="btn bbut">33</button>
                    </div>
                    <div id="numred">
                        <p id="thirtysix" style="visibility: hidden;" class="align-left">0</p>
                        <button id="bnr" class="btn bbut">36</button>
                    </div>
                    <button id="outside1" class="btn bbut">2 to 1</button>
                </div>
                <div class="flex flex-row">
                    <button id="zeropad" class="btn bbut">0</button>
                    <div id="num">
                        <button id="bnr" class="btn bbut">2</button>
                    </div>
                    <div id="numred">
                        <button id="bnr" class="btn bbut">5</button>
                    </div>
                    <div id="num">
                        <button id="bnr" class="btn bbut">8</button>
                    </div>

                    <div id="num">
                        <button id="bnr" class="btn bbut">11</button>
                    </div>
                    <div id="numred">
                        <button id="bnr" class="btn bbut">14</button>
                    </div>
                    <div id="num">
                        <button id="bnr" class="btn bbut">17</button>
                    </div>
                    <div id="num">
                        <button id="bnr" class="btn bbut">20</button>
                    </div>
                    <div id="numred">
                        <button id="bnr" class="btn bbut">23</button>
                    </div>
                    <div id="num">
                        <button id="bnr" class="btn bbut">26</button>
                    </div>
                    <div id="num">
                        <button id="bnr" class="btn bbut">29</button>
                    </div>
                    <div id="numred">
                        <button id="bnr" class="btn bbut">32</button>
                    </div>
                    <div id="num">
                        <button id="bnr" class="btn bbut">35</button>
                    </div>
                    <button id="outside2" class="btn bbut">2 to 1</button>
                </div>
                <div class="flex flex-row">
                    <button id="zeropad" class="btn bbut">0</button>
                    <div id="numred">
                        <button id="bnr" class="btn bbut">1</button>
                    </div>
                    <div id="num">
                        <button id="bnr" class="btn bbut">4</button>
                    </div>
                    <div id="numred">
                        <button id="bnr" class="btn bbut">7</button>
                    </div>

                    <div id="num">
                        <button id="bnr" class="btn bbut">10</button>
                    </div>
                    <div id="num">
                        <button id="bnr" class="btn bbut">13</button>
                    </div>
                    <div id="numred">
                        <button id="bnr" class="btn bbut">16</button>
                    </div>
                    <div id="numred">
                        <button id="bnr" class="btn bbut">19</button>
                    </div>
                    <div id="num">
                        <button id="bnr" class="btn bbut">22</button>
                    </div>
                    <div id="numred">
                        <button id="bnr" class="btn bbut">25</button>
                    </div>
                    <div id="numred">
                        <button id="bnr" class="btn bbut">28</button>
                    </div>
                    <div id="num">
                        <button id="bnr" class="btn bbut">31</button>
                    </div>
                    <div id="numred">
                        <button id="bnr" class="btn bbut">34</button>
                    </div>
                    <button id="outside" class="btn bbut">2 to 1</button>
                </div>
            </div>    
        </div>
    </div>
</div>

{% endblock content %}

