
{% block content %}
    <script>
       var msgdiv = document.getElementById("msg");
       var msg = "{{msg}}";
       if (msg != "") {
           msgdiv.innerHTML = msg;
           msgdiv.style.display = "flex";
           msgdiv.style.color = "#044f00";
       } else {
           msgdiv.style.display = "none";
       }
    </script>
    {% for ball in balls %}
        <script>
            {% for winner in winners %}
                {% if winner == ball %}
                    document.getElementById("{{ ball }}").style.backgroundColor = "#044f00";
                    document.getElementById("{{ ball }}").style.borderColor = "#08a600";
                {% endif %}    
            {% endfor %}
        </script>
        <div id="{{ ball }}" style="border-width: 2px; border-color: #ffffff;" class="flex font-bold rounded-full text-center align-middle text-white w-10 h-10 justify-center m-auto">
            <p  class="m-auto justify-centre align-middle">{{ ball }}</p>
        </div>
    {% endfor %}
    <!--<div class="flex m-2">
        <p style="margin-left: 5px; color: #044f00" class="font-bold py-2 px-4"></p>
    </div>-->
{% endblock content %}
